*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
html,body{
    overflow: hidden;
    background-color: #212A3E;
}
audio{
    display:none;
}
#bgvidio{
    position:absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
nav{
     background-color: #213363;
     width: 100%;  
      text-align: center;
      position: relative;
}
nav img{
    margin:auto;
    height: 50px;  
}
.layar1{
    position: relative;
    display: inline-block;   
    margin: auto;
    margin-left:150px ;
}
.layar2{
    position: absolute;
    display: flex;
    width: 100%;  
    align-items: center;
    padding: 20px;
}
.player1-health{
    background-color: red;
    height: 30px;
    width: 100%;
    border: 1px solid white;
 
}
.timer{
    background-color: grey;
    height: 50px;
    width: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}
.player2-health{
    background-color: red;
    height: 30px;
    border: 1px solid white;
  
}
.attackk{
    position: relative;  
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.attack22{
    position: absolute;
    background: #5D9C59;
    top: 0;
    right: 0;
    bottom: 0;
     width: 100%;
     border: 1px solid white;
}
.attack{
    position: relative;  
    height: 30px;
    width: 100%;
}
.attack2{
    position: absolute;
    background: #5D9C59;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 1px solid white;
}
.gameover{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;  
    right: 0;
    display: none;
    color: white;
    border: 1px solid black;
    background-color: cadetblue;
    opacity: 0.5;
}